# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ebc81711f23c6c877508be569efcd1938ca964b8f62d7b97c51b90d66d3ae820b3df0ecc9e74713c7bc3a97284fa3c9a97330ae83d99e2d50efaa73b8b5c349d

test:
  secret_key_base: c57998a3d3ebedc539b6cae8b4aaaa6336fd60e03ce5a01e501de4fb9d488460fa9e9931156484825e6fb0e6b7f732608c437a8831ce9050312a1f1c8ec80409

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
